@if (cart$ | async; as cart) {
    @if (!cart?.Proposald?.Id) {
        <apt-breadcrumb [label]="'COMMON.CREATE_QUOTE' | translate" class="border-bottom"></apt-breadcrumb>
    }
    @if (cart?.Proposald?.Id) {
        <apt-breadcrumb [sobject]="quoteRequestObj" [label]="'CREATE_QUOTE.FINALIZE_AND_SUBMIT' | translate" class="border-bottom">
        </apt-breadcrumb>
    }
    <div class="container-fluid animated fadeIn p-0">
        
        <div class="px-4 py-2">
            <div class="d-flex justify-content-between align-items-center flex-row flex-wrap w-100 ps-md-3">
                @if (!cart?.Proposald?.Id) {
                    <h4 class="mb-0 d-lg-block d-md-block d-sm-none d-none">{{'COMMON.REQUEST_QUOTE' | translate }}</h4>
                }
                @if (!cart?.Proposald?.Id) {
                    <h4 class="mb-0 d-lg-none d-md-none d-sm-block d-block col-12">{{'COMMON.REQUEST_QUOTE' | translate }}</h4>
                }
                <div class="d-flex justify-content-end col px-0">
                    @if (showCaptcha) {
                        <apt-captcha (onCaptchaSuccess)="captchaSuccess(cart)"></apt-captcha>
                    }
                    <button class="btn btn-link py-0" [routerLink]="['/carts/active']">
                        {{'COMMON.CANCEL' | translate }}
                    </button>
                    @if (!showCaptcha) {
                        <button class="btn btn-primary btn-raised" (click)="quotePlacement(cart)"
                            [disabled]="disableSubmit" [ladda]="loading" data-style="zoom-in">
                            {{'COMMON.REQUEST_QUOTE' | translate }}
                        </button>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mb-4 py-2">
                    <app-request-quote-form [cart]="cart" (onQuoteUpdate)="onUpdate($event)" #form></app-request-quote-form>
                </div>
                <div class="col-12 col-md-4 mb-4 py-2">
                    <apt-price-summary [disableSubmit]="disableSubmit" [record]="cart" [loading]="loading"
                    [page]="'create-proposal'" [showCaptcha]="false"
                    (onRequestQuote)="convertCartToQuote(cart)" (onShowCaptcha)="loadCaptcha()"></apt-price-summary>
                    <cart-summary [cart]="cart"></cart-summary>
                </div>
            </div>
        </div>
    </div>


    <ng-template #confirmationTemplate>
        <div class="modal-header border-0 p-0">
            <button type="button" class="btn-close btn-close-white close-button float-end" aria-label="Close" (click)="confirmationModal.hide()" [routerLink]="isLoggedIn ? ['/proposals', quoteConfirmation.Id] : ['/products']">
            </button>
        </div>
        <div class="modal-body bg-white d-flex flex-column justify-content-center py-4">
            <h6 class="modal-title float-start fw-bold pb-2"> {{'QUOTE_CONFIRMATION_MODAL.QUOTE_REQUEST' | translate}} </h6>
            <p class="text-center">
                <strong>{{ 'MODAL.THANK_YOU' | translate }}
                    {{quoteConfirmation?.CreatedBy?.FirstName}}!</strong>
            </p>
            @if (!cart?.Proposald?.Id) {
                <small class="text-center"
                    [translate]="'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRM_MSG'"
                    [translateParams]="{Sellername: quoteConfirmation?.CreatedBy?.Name}"></small>
            }
            @if (quoteConfirmation?.RFPResponseDueDate) {
                <small class="text-center"
                    [translate]="'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_MSG_WITH_RFP'"
                    [translateParams]="{RFP_value: quoteConfirmation.RFPResponseDueDate | dateFormat : 'ShortDatePattern' | async}"></small>
            }
            @if (cart?.Proposald?.Id) {
                <small class="text-center"
                    [translate]="'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_Update_MSG'"
                    [translateParams]="{Sellername: quoteConfirmation?.CreatedBy?.Name, RFP_value: quoteConfirmation.RFPResponseDueDate | dateFormat : 'ShortDatePattern' | async}"></small>
            }
            <h5 class="text-center my-3">{{ 'QUOTE_CONFIRMATION_MODAL.QUOTE_CONFIRMATION_NO' | translate }}
                {{quoteConfirmation.Name}}</h5>
            <button class="btn btn-outline-primary w-35 mx-auto" (click)="confirmationModal.hide()"
                [routerLink]="['/proposals', quoteConfirmation.Id]">{{ 'QUOTE_CONFIRMATION_MODAL.REVIEW_YOUR_QUOTE' | translate }}</button>
        </div>
    </ng-template>
} @else {
    <div class="d-flex justify-content-center pt-5 mt-5">
        <apt-spinner></apt-spinner>
    </div>
}
