@if (favorite$ | async; as favorite) {
<app-detail [context]="favorite" [route]="'favorites'">
  @if (favorite?.IsActive) {
  <div class="primary-actions d-lg-block d-md-block d-sm-none d-none ps-2 pe-3">
    <button type="button" class="btn btn-primary btn-raised px-4 text-nowrap" (click)="addFavoriteToCart(favorite)"
      [ladda]="isLoading" data-style="zoom-in">
      {{ "COMMON.ADD_TO_CART" | translate }}
    </button>
  </div>
  }

  <div class="detail-header">
    <div class="d-flex align-items-end mb-2 py-2 ps-2">
      <h3 class="m-0">{{favorite?.Name}}</h3>
      @if (!favorite?.IsActive) {
      <span class="badge text-bg-info ms-3 px-3 py-1 border">{{'MY_ACCOUNT.FAVORITE_DETAIL.INACTIVE' | translate}}</span>
      }
    </div>
    @if (favorite?.IsActive) {
    <div class="d-lg-none d-md-none d-sm-block d-block d-flex align-items-end ps-2">
      <button type="button" class="btn btn-primary btn-raised px-4" (click)="addFavoriteToCart(favorite)"
        [ladda]="isLoading" data-style="zoom-in">
        {{ "COMMON.ADD_TO_CART" | translate }}
      </button>
    </div>
    }
  </div>

  <app-detail-section [title]="'DETAILS.FAVORITE_SUMMARY' | translate">
    <div class="row pb-3 pt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-header border-bottom py-2">
            <h5>
              {{'DETAILS.FAVORITE_SUMMARY' | translate}}
            </h5>
          </div>
          <div class="card-body">
            <div>
              <apt-alert [record]="favorite"></apt-alert>
            </div>
            @if (user$ | async; as user) {
            <div>
              <div class="row">
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="favorite" field="Name" [editable]="
                  favorite?.IsActive && favorite?.CreatedBy?.Id === user?.Id
                " (onChange)="updateFavorite($event.Name, favorite, 'Name')">
                  </apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <span>
                    <dt [ngClass]="labelClass" class="mutedLabels mt-2">
                      {{ "FAVORITE.VISIBILITY" | translate }}
                    </dt>
                    <dd class="m-0 position-relative pt-2" [id]="scope">
                      <apt-input-field
                        [valueClass]="'text-capitalize'"
                        [field]="'Scope'"
                        [entity]="favorite"
                        [(ngModel)]="favorite.Scope"
                        [showLabel]="false"
                        [picklistValues]="picklistValues"
                        [lookupOptions]="lookupOptions"
                        [inline]="true"
                        [readonly]="!(
                              favorite?.IsActive &&
                              favorite?.CreatedBy?.Id === user?.Id
                            )"
                        [displayAsRadioButtons]="true"
                        (ngModelChange)="updateFavorite($event, favorite, 'Scope')"
                      >
                      </apt-input-field>
                    </dd>
                  </span>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="favorite.CreatedBy" field="Name" [editable]="false"
                    [label]="'COMMON.CREATED_BY' | translate"></apt-output-field>
                </div>
              </div>

              <div class="row">
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="favorite" field="Description" [editable]="
                  favorite?.IsActive && favorite?.CreatedBy?.Id === user?.Id
                " (onChange)="
                  updateFavorite($event.Description, favorite, 'Description')
                "></apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="favorite" field="IsActive" [label]="('COMMON.ACTIVE' | translate)" [editable]="false">
                  </apt-output-field>
                </div>
                <div class="flex-shrink-1 col-md-4 mb-2">
                  <apt-output-field [record]="favorite" field="CreatedDate" [editable]="false">
                  </apt-output-field>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </app-detail-section>

  <app-detail-section [title]="'DETAILS.LINE_ITEMS' | translate" class="mt-4">
    <div class="card">
      <div class="card-header border-bottom py-2">
        <h5>
          {{'DETAILS.LINE_ITEMS' | translate}}
        </h5>
      </div>
      <div class="card-body">
        @if (lineItems$ | async; as lineItems) {
        <table class="table">
          <tbody>
            @for (item of lineItems; track item.MainLine?.Id ?? $index) {
            <apt-line-item-table-row [index]="$index" [parent]="item.MainLine" [options]="item.Options"
              [children]="item.SecondaryLines" [editableFields]="false" [cart]="cart">
            </apt-line-item-table-row>
            }
          </tbody>
        </table>
        } @else {
        <div class="d-flex justify-content-center pt-5">
          <apt-dots></apt-dots>
        </div>
        }
      </div>
    </div>
  </app-detail-section>
</app-detail>
} @else {
<div class="d-flex justify-content-center pt-5">
  <apt-dots></apt-dots>
</div>
}